  <div class="cnt-box cnt-box-info" data-href="treks-single.html">
    <a class="img-box"><img src="assets/media/4.png" alt="" /></a>
    <div class="caption">
      <div class="cnt-info">
        <div><span>Days</span><span>3</span></div>
        <div><span>Group size</span><span>10</span></div>
        <div><span>Difficulty</span><span>Easy</span></div>
      </div>
      <h2>Lviv Excursion</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
      </p>
      <div class="bottom-info">
        Lviv
      </div>
    </div>
  </div>
