  <div class="cnt-box cnt-box-info" [routerLink]="['/trek-info']">
    <a class="img-box"><img src="assets/media/4.png" alt="" /></a>
    <div class="caption">
      <div class="cnt-info">
        <div><span>Days</span><span>3</span></div>
        <div><span>Group size</span><span>10</span></div>
        <div><span>Difficulty</span><span>Easy</span></div>
      </div>
      <h2>Lviv Excursion</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt.
      </p>
      <div class="bottom-info">
        <img src="assets/media/svg/map-location-pin.svg">
        Skole, Lviv region, Ukraine
      </div>
      <div class="user-info">
        <img src="assets/media/empty-user-avatar.jpg">
        <h3>User Pavlo</h3>
      </div>
    </div>
  </div>
