<body class="page-main">
<div id="preloader"></div>
<nav class="menu-classic menu-fixed menu-transparent light align-right" data-menu-anima="fade-in">
  <div class="container">
    <div class="menu-brand">
      <a href="#">
        eokgfnegnjeignjei
<!--        <img class="logo-default scroll-hide" src="media/logo-white-blue.svg" alt="logo" />-->
<!--        <img class="logo-retina scroll-hide" src="media/logo-white-blue.svg" alt="logo" />-->
<!--        <img class="logo-default scroll-show" src="media/logo-white-solid.svg" alt="logo" />-->
<!--        <img class="logo-retina scroll-show" src="media/logo-white-solid.svg" alt="logo" />-->
      </a>
    </div>
    <i class="menu-btn"></i>
    <div class="menu-cnt">
      <ul id="main-menu">
        <li class="dropdown">
          <a href="#">Home</a>
          <ul *ngIf="false">
            <li><a href="index.html">Main</a></li>
            <li><a href="index-2.html">Home two</a></li>
            <li><a href="index-3.html">Home three</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Pages</a>
          <ul *ngIf="false">
            <li class="dropdown-submenu">
              <a>About</a>
              <ul *ngIf="false">
                <li><a href="about.html">About</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="team-2.html">Team two</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Special</a>
              <ul *ngIf="false">
                <li><a href="food.html">Food</a></li>
                <li><a href="shelters.html">Shelters</a></li>
                <li><a href="events.html">Events</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a>Others</a>
              <ul *ngIf="false">
                <li><a href="prices.html">Prices</a></li>
                <li><a href="history.html">History</a></li>
                <li><a href="gallery.html">Gallery</a></li>
              </ul>
            </li>
            <li>
              <a href="elements/components/buttons.html">Elements</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="treks.html">Treks</a>
          <ul *ngIf="false">
            <li><a href="treks.html">Treks</a></li>
            <li><a href="treks-single.html">Single trek</a></li>
          </ul>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="contacts.html">Contacts</a>
        </li>
      </ul>
      <div class="menu-right">
        <ul class="lan-menu" *ngIf="false">
          <li class="dropdown">
            <a href="#"><img src="media/en.png" />EN </a>
            <ul>
              <li><a href="#"><img src="media/it.png" />eng</a></li>
              <li><a href="#"><img src="media/es.png" />ukr</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<footer class="light">
<!--  <link rel="stylesheet" href="themekit/media/icons/iconsmind/line-icons.min.css">-->
<!--  <script src="themekit/scripts/parallax.min.js"></script>-->
<!--  <script src="themekit/scripts/glide.min.js"></script>-->
<!--  <script src="themekit/scripts/magnific-popup.min.js"></script>-->
<!--  <script src="themekit/scripts/tab-accordion.js"></script>-->
<!--  <script src="themekit/scripts/imagesloaded.min.js"></script>-->
<!--  <script src="themekit/scripts/progress.js" async></script>-->
<!--  <script src="themekit/scripts/custom.js" async></script>-->
<!--  <script src="themekit/scripts/contact-form/contact-form.js" async></script>-->
</footer>
</body>
