nav.menu-classic {
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
}

.full-width{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 90px;
}
nav.menu-fixed {
  background: transparent;
}


.menu-transparent {
  padding-top: 20px;
  background-color: transparent;
  .menu-brand{
    margin-top: -10px;
  }
}
.menu-blue{
  li{
    height: 60px;
  }
  .menu-brand{
    margin-top: -35px;
  }
  .menu-brand img {
    height: 55px;
  }
  padding-top: 20px;
  height: 65px;
  background-color: #3C5A78;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
 .menu-blue .main-menu > li > a{
  line-height: 60px;
}
.menu-classic .container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  /*width: 100%;*/
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.menu-brand img {
  height: 40px;
  margin-left: -50px;
  /*margin-top: -40px;*/
  transition: 0.3s;
}

.menu-btn {
  display: block;
  font-size: 24px;
  /*cursor: pointer;*/
}

.menu-cnt {
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
}

#main-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#main-menu > li {
  position: relative;
}

#main-menu > li > a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  /*line-height: 95px;*/
  padding: 0 15px 25px;
  transition: color 0.3s ease;
}

#main-menu > li:hover > a {
  color: #5bc0de; /* синій акцент */
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #111;
  display: none;
  flex-direction: column;
  min-width: 180px;
  padding: 10px 0;
  border-radius: 4px;
  z-index: 999;
}

.dropdown:hover ul {
  display: flex;
}

.dropdown ul li a {
  padding: 10px 20px;
  color: #ea5c5c;
  display: block;
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: #222;
}
.space-mm{
  margin-right: 5px;
  margin-bottom: 3px;
}
.menu-right .lan-menu {
  margin-left: 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

.lan-menu img {
  height: 20px;
  margin-right: 5px;
}

/*!* Прелоадер *!*/
/*#preloader {*/
/*  position: fixed;*/
/*  left: 0;*/
/*  top: 0;*/
/*  z-index: 99999;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: #000 url('/assets/loading.gif') center center no-repeat;*/
/*}*/

/* Адаптивність */
@media (max-width: 991px) {
  .menu-btn {
    display: block;
  }

  .menu-cnt {
    display: none;
    flex-direction: column;
    background: #111;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .menu-cnt.show {
    display: flex;
  }

  #main-menu {
    flex-direction: column;
    width: 100%;
  }

  #main-menu li {
    width: 100%;
    text-align: center;
  }
}
#animate {
  transition: opacity 0.5s ease;
  opacity: 1;
}

/* Коли додається клас "fade-out" — робимо прозорість 0 */
.fade-out {
  opacity: 0;
}
