<body class="page-main">
<div id="preloader"></div>
<div id="header" [ngClass]="this.updated || this.isMapPage? 'menu-blue': 'menu-transparent'" class="full-width">
  <nav  class="menu-classic menu-fixed  light align-right" data-menu-anima="fade-in">
    <div class="container">
      <div class="menu-brand">
        <a href="#">
          <img class="" [src]="logoSrc" alt="logo" />
        </a>
      </div>
      <i class="menu-btn"></i>
      <div class="menu-cnt">
        <ul id="main-menu">
          <li class="dropdown">
            <a [routerLink]="['']" >Home</a>
          </li>
          <li class="dropdown">
            <a [routerLink]="['/problems-map']" >Map</a>
          </li>
          <li class="dropdown">
            <a [routerLink]="['/treks']">Treks</a>
            <ul *ngIf="false">
              <li><a >Treks</a></li>
              <li><a href="treks-single.html">Single trek</a></li>
            </ul>
          </li>
          <li>
            <a [routerLink]="['/trek-chat']">Forum</a>
          </li>
          <li>
            <a >Contacts</a>
          </li>
          <li class="dropdown">
            <a >
<!--              <img class="space-mm" src="assets/media/svg/uk-icon.svg" />-->
              lang </a>
            <ul  *ngIf="false">
              <li><a href="#"><img src="media/it.png" />eng</a></li>
              <li><a href="#"><img src="media/es.png" />ukr</a></li>
            </ul>
          </li>
          <li class="dropdown" *ngIf="isLoggedIn; else loggedOutTemplate">
              <a [routerLink]="['/profile']">Profile </a>

          </li>
          <ng-template #loggedOutTemplate>
            <a [routerLink]="['/login']">Login </a>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>

</div>


</body>
