

<section class="section-image section-full-width-right light ken-burn-center" data-parallax="scroll" data-image-src="assets/media/4.png" >
  <div class="container">
    <hr class="space-sm" />
    <div class="row">
      <div class="col-lg-6">
        <h1  class="custom-slide-in text-lg text-uppercase text-black">For clean mountains to explore</h1>
        <hr class="space-lg" />
        <ul class="slider width-50" data-options="type:slider,perView:1">
          <li>
            <p class="quote">
              Don't just walk the trail — protect it, clean it, and let others follow your light.
              <span class="quote-author">Folk wisdom</span>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <hr class="space-xs" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Altitude</h3>
            <div class="value">
              <span class="text-md" data-to="1650" data-speed="5000">1650</span>
              <span>m</span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Tracks</h3>
            <div class="value">
              <span class="text-md" data-to="7" data-speed="5000">7</span>
              <span></span>
            </div>
          </div>
        </div>
        <hr class="space-sm" />
        <div class="counter counter-vertical counter-icon">
          <div>
            <h3>Tourists / year</h3>
            <div class="value">
              <span class="text-md" data-to="2000" data-speed="5000">2000</span>
              <span>+</span>
            </div>
          </div>
        </div>
        <hr class="space" />
        <ul class="slider" data-options="type:carousel,nav:true,perView:3,perViewLg:2,perViewSm:1,gap:30,controls:out,autoplay:3000">
          <li>
            <a class="img-box btn-video lightbox" href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top">
              <img src="assets/media/4.png" alt="">
            </a>
          </li>
          <li>
            <a class="img-box lightbox" href="assets/media/4.png" data-lightbox-anima="fade-top">
              <img src="assets/media/4.png" alt="">
            </a>
          </li>
          <li>
            <a class="img-box lightbox" href="assets/media/4.png" data-lightbox-anima="fade-top">
              <img src="assets/media/4.png" alt="">
            </a>
          </li>
          <li>
            <a class="img-box lightbox" href="assets/media/4.png" data-lightbox-anima="fade-top">
              <img src="assets/media/4.png" alt="">
            </a>
          </li>
        </ul>
        <button class="btn-slider-bullet"></button>
      </div>
    </div>
    <hr class="space-lg" />
  </div>
</section>



<section class="section-base temp">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="slider controls-right" data-options="type:carousel,nav:true,perView:2,perViewSm:1,gap:30,controls:out">
          <app-trek-preview *ngFor="let trek of trekCount">

          </app-trek-preview>
        </ul>
      </div>
      <div class="col-lg-4">
        <hr class="space-sm visible-sm" />
        <div class="title">
          <h2>Latest trips</h2>
          <p>Explore the unexplored Carpathians</p>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
          Utenim ad minim veniam quiso.
        </p>
        <a [routerLink]="['/treks']" class="btn btn-circle btn-xs">Explore all</a>
      </div>
    </div>
  </div>
</section>

<section class=" section-color section-google-map">
  <div class="title">
    <h2>route map</h2>
    <p>map of treks and problems</p>
  </div>
  <div class="map-container">
    <div id="map" class="google-map" data-marker="media/marker.png" data-coords="46.01049736894874,14.png22314543457037"></div>
  </div>
</section>

<section class="section-base temp section-center">
  <img src="assets/media/loader.svg"/>
</section>
