<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body class="page-main">
<!--<div id="preloader"></div>-->
<section class="section-image light" >
  <div class="container">

    <div class="header">
      <h1>Parashka mountain</h1>

      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Trek Info</a></li>
      </ol>
    </div>
    <div class="under-header">
      <h2>А pile of rubbish on the way to Parashka mountain</h2>
    </div>
  </div>
</section>
<section class="main-info light">
  <div class="col-lg-6">
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex rud exercitation ullamco lconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fadipisis nisi ut aliquip ex ea aliquip ex rud exercitation ullamco lcon commodo consequat.</p>
  </div>
  <div class="col-lg-6">
    <div class="inColumn">
      <div class="inRow user-info" [style.gap]="'30px'">
        <img class="image-container" src="assets/media/empty-user-avatar.jpg">
        <div class="inColumn" [style.flex]="'1'">
          <h1>About the trip</h1>
          <h3>User Pavlo Pavlovich</h3>
          <div class="inRow">
            <p>Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod.</p>
          </div>
        </div>
      </div>
      <div class="inRow " [style.margin-top]="'20px'">
        <div class="inColumn grid-column no-padding">
          <h2>Responds</h2>
          <p>5 people</p>
        </div>
        <div class="inColumn grid-column">
          <h2>Distance</h2>
          <p>8.5 KM</p>
        </div>
        <div class="inColumn grid-column">
          <h2>Duration</h2>
          <p>2 Days</p>
        </div>
        <div class="inColumn grid-column">
          <h2>Date</h2>
          <p>25 May</p>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="trek-image light">
  <div class="row">
    <div class="main-image"></div>
    <div class="inColumn">
      <div class="side-image">

      </div>
    </div>
  </div>
</section>
</body>
