.section-color{
  background-color: rgb(238, 243, 247);
}

.section-image {
  position: relative;
  color: white;
  height: 350px;
  display: flex;
  align-items: end;

  background-image: url('/assets/media/background-low-brightness-cut.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: start;
  overflow: hidden;
  animation: backZoomOut 7s ease-in-out forwards;
}
@keyframes backZoomOut {
  0%{
    background-size: 110% 110%;
  }
  100%{
    background-size: 100% 100%;
  }
}
.container{
  width: 1240px;
  margin-bottom: 50px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.under-header{
  position: relative;
  animation: zoomOut 2s ease-in-out forwards;
}
@keyframes zoomOut {
  0% {
    transform: scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.under-header h2::before{
  /*left: calc(-100% - 330px);*/
  margin-left: -40px;
  transform: translateX(-100%);
}
.under-header h2::after{
  margin-left: 40px;
}
.under-header h2::after, .under-header h2::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 1500px;
  top: 4px;
  border-radius: 3px;
  background-color: #41479B;
}
.breadcrumb{
  display: flex;

}
body.page-main {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}


.section-image h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-transform: uppercase;
  animation: title-animation 2s ease-in-out forwards;
}
@keyframes title-animation {
  0%{
    opacity: 0;
    transform: scale(1.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.section-image h2 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #fff;
}
.breadcrumb a{
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}
.breadcrumb li {
  display: inline;
  font-size: 14px;
}

.breadcrumb li::after {
  content: '/';
  margin: 0 5px;
  color: #aaa;
}

.breadcrumb li:last-child::after {
  content: '';
}



.inRow{
  display: flex;
  flex-direction: row;
}
.inColumn{
  display: flex;
  flex-direction: column;
}


.main-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  padding-top: 90px;
}
.main-info .container{
  display: flex;
  flex-direction: row;
}
.col-lg-6{
  padding-right: 80px;
}

.main-info p, .main-info h3, .main-info h2{
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
}
.main-info h2{
  font-weight: 600;
}
.main-info h1{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}
.main-info h3{
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: #c1cad3 solid 1px;
}
.main-info img{
  width: 150px;
  height: 170px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 8px;
}
.main-info h1, h3, p, .main-info h2{
  color: #13304a;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}
.grid-column{
  width: 170px;
  padding-left: 40px ;
  border-left: #c1cad3 solid 1px;
}
.inRow .no-padding{
  padding-left: 0;
  border-left: none;
}


.trek-image{
  width: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  padding-top: 100px;

}
.main-image{
  width: 67%;
  height: auto;

}
.main-image img{
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  max-height: 400px;
  object-fit: cover;
}
.side-image img{
  border-top-right-radius: 15px;
}
.main-image img, .side-image img{
  width: 100%;
  height: 100%;
}
.side-image{
  width: 100%;
  height: 50%;
}
.gap-between{
  gap: 7px;
}
.map-container{
  width: 100%;
  height: 50%;
  /*width: 2000px;*/
  /*height: 1000px;*/
  overflow: hidden;
  border-bottom-right-radius: 15px;
}
.google-map{
  width: 100%;
  height: 100%;
  /*height: 50%;*/
}
.map-controls {
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
  z-index: 500;
}

.map-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  /*color: #acbac8;*/
  font-weight: 100;
  cursor: pointer;
  outline: none;
  font-family: 'Montserrat', sans-serif;

}
.map-controls button:hover, .bot-center-button:hover {
  background-color: #f0f0f0;
}

.card-footer{
  display: flex;
  justify-self: center;
  align-self: center;
  gap: 15px;
  padding: 10px 10px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, .15), 0px 0px 1px 0px rgba(0, 0, 0, .3);
  border-radius: 40px;
  background-color: white;
  bottom: 20px;
  opacity: 0;

}
.btn{
  width: fit-content;
  height: fit-content;
  padding: 0 25px;
  border: none;
  border-radius: 40px;
  background-color: rgba(17, 23, 14, 0.1);
  line-height: 50px;
  font-size: 14px;
  font-weight: 600;

}
.btn:hover{
  color: #776f6f;
}
.btn-blue{
  background-color: #379cf4;
  color: white;
}
.section-elevation{
  padding-bottom: 100px;
}
.elevation-graph{
  height: 300px; width: 98%; font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;

}
::ng-deep .elevation-control {
  /*background-color: var(--ele-bg, rgba(70, 130, 180, 0.2));*/
  background-color: rgb(35 40 44 / 20%);
  height: 300px;
}
::ng-deep .elevation-toggle-icon{
  opacity: 0;
}


.color-white h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  animation: zoomOut 1s ease-in-out forwards;
  color: black;
  margin-top: 60px;
  margin-bottom: 20px;
}
 .color-white h1::after, .color-white h1::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #3498db;
  margin-left: 10px;
  vertical-align: middle;
}
.color-white h1::before{
  margin-right: 10px;
}
.group-info .container{
  margin-bottom: 0;
}


/**/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/*/
/**/

.group-info .inRow{
  height: 100%;
}
.group-info h2{
  font-family: 'Montserrat', sans-serif;
}
.group-info h2::after, .group-info h2::before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 5px;
  background-color: #3498db;
  margin-left: 10px;
  vertical-align: middle;
  border-radius: 10px;
}
.group-info h2::before{
  margin-right: 10px;
}
.slider {
  height: 300px;
  overflow-y: auto;
  scrollbar-width: none; /* Стиль для скроллбару в Firefox */
  -ms-overflow-style: none; /* Для старих версій IE */
}

.slider::-webkit-scrollbar {
  display: none;
}

.inCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/


.weather-section{
  height: 900px;
  padding-top: 100px;
}
.weather-section .container{
  width: 1100px;
}
.weather-container {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 20px;
}
.weather-overlay{
  position: absolute;
  background-color: rgba(29, 12, 45, 0.65);
  width: 100%;
  height: 100%;
  z-index: 5;
  padding: 35px;
  padding-top: 50px;
}
.weather-section p, .weather-section h1, weather-section h2{
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.weather-section p{
  font-size: 13px;
  margin-bottom: 0;
}
.weather-section h1{
  font-size: 120px;
  font-weight: 600;
}
.weather-section h2{
  font-size: 16px;
  font-weight: 500;
}
.weather-section h3{
  font-size: 16px;
  color: #6b746a;
}
.weather-section h5{
  color: black;
  display: flex;
  justify-self: center;
  margin-bottom: 120px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.btn-select{
  margin: 0 !important;
  padding: 10px 40px;
  border-radius: 10px;
}
.weather-section h4{
  font-size: 20px;
  color: #6b746a;
}
.weather-bot-span{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.blur-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(300px);
  z-index: 4;
}

.rotate-container {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  animation: rotate 8s linear infinite;
  z-index: 0;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 1;
}
.static-bot{
  width: 800px;
  height: 700px;
  bottom: -400px;
  right: -350px;
  z-index: 3;
}
.static-top{
  width: 800px;
  height: 700px;
  top: -500px;
  z-index: 0;
  left: -350px;
}


.blue {
  background: #4c8bf9;
}

.weather-section .light {
  background: #fdf1ed;
}

.mid {
  width: 450px;
  height: 450px;
  background: #4c8bf9;
  top: 90%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.small {
  width: 500px;
  height: 500px;
  background: #105493;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.medium {
  width: 500px;
  height: 500px;
  background: #4c8bf9;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.giant{
  width: 900px;
  height: 900px;
  background: #fdf1ed;
  top: 1%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.content {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////*/



.section-others .container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  gap: 30px;
}
.btn-transparent {
  background-color: transparent;
  border: none;
  margin-right: 30px;
  margin-left: 30px;


}


/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.section-show-group{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
}
.fadeOut-animation{
  animation: fadeOut 1s;
}
.section-show-group .container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 430px;
  height: 500px;
  padding: 70px 20px 20px;
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, .15), 0px 0px 1px 0px rgba(0, 0, 0, .3);
}

