<section class="full-width" [routerLink]="['/trek-info']">
  <div class="image-container"><img src="assets/media/background-low-brightness.png"> </div>
  <div class="item-info">
    <div class="inRow ">
      <h1>#1 - А pile of rubbish on the way to Parashka mountain</h1>
      <div class="svg-container">
        <img src="assets/media/svg/save-icon.svg">
      </div>
    </div>
    <div class="inRow" [style.align-items]="'center'">
      <h2>5 responded</h2> <div class="dot"></div>
      <h2> Moderate</h2>  <div class="dot"></div>
      <h2> 15.4 km </h2>  <div class="dot"></div>
      <h2> 1 day</h2>
    </div>
    <div class="space-sm"></div>
    <div class="inRow">
      <p>
        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt do eiusmod tempor incididunt do eiusmod tempor incididunt.
        </p>

    </div>
  </div>
</section>
